{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 35.96456494326248,
    "longitude": -86.61273479461671,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Just Me, Among my Things",
    "time_zone": "America/Chicago",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 297
  }
}